:root {
  --colour-white: #fff;
  --colour-purple: #5c1c44;
  --colour-deep-pink: #940f3a;
  --colour-red-orange: #ae3c2d;
  --colour-orange: #c86920;
  --colour-yellow: #ce8912;
  --colour-light-yellow: #efb043;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: 'Oxanium', Arial, Helvetica, sans-serif;
  font-size: 1.09375rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--colour-purple);
}

/* PAGE LAYOUT */
#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto;
  gap: 1.75rem;
}

header {
  background-color: var(--colour-purple);
  grid-row: 1 / 2;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

main {
  grid-row: 2 /  3;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 90%;
  justify-self: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

/* Basic Components */
/*#region*/
h1 {
  font-size: 2.5rem;
  margin: 1.2rem 0 0;
}

h2 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li:first-of-type {
  margin-top: 1rem;
}

button {
  color: var(--colour-white);
  font-size: 1.75rem;
  background-color: var(--colour-deep-pink);
  font-weight: inherit;
  font-family: inherit;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  padding: 1.407rem 2rem;
}

.button-bad-action {
  background-color: var(--colour-orange);
}
.button-nav {
  background-color: var(--colour-yellow);
}

span {
  white-space: pre-wrap;
}
/*#endregion*/

/* Header Nav Flex */
/*#region*/
.logo {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}
.logo-svg-heart {
  fill: var(--colour-yellow);
  stroke-width: 2px;
  stroke: var(--colour-white);
  height: 3rem;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
nav p {
  padding-bottom: 0.75rem;
  margin-bottom: 0.15rem;
  border-bottom: 0.1rem solid var(--colour-yellow);
}
nav a, nav p {
  color: var(--colour-white);
  align-self: center;
  font-size: 1.5rem;
  padding: 0.6rem;
}
/*#endregion*/

/* Courses Grid and Cards */
/*#region*/
.container-grid-cards {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.75rem;
  padding: 1rem;
}

.button-card {
  border-radius: 15px;
  min-height: 140px;
  margin: 0;
}
/* article is a card */
article {
  /* card like style */
  min-height: 140px;
  border: 3px solid var(--colour-yellow);
  border-radius: 15px;
  /* use flex to make link clickable area take up */
  display: flex;
  align-items: stretch;
}

article a {
  padding: 1.1rem 1.1rem 0;
  flex-grow: 1;
}

/* Buttons to display stacked on narrow screens
    and buttons in a row on wider screens */
.container-buttons {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
/*#endregion*/

/* Course Detail Grid */
/*#region*/
.container-grid-course {
  padding: 1.3rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 4rem;
  row-gap: 1.75rem;
  grid-template-areas: 
    "title"
    "time"
    "description"
    "materials";
}
.course-title {
  grid-area: title;
}
.course-description {
  grid-area: description;
}
.course-time {
  grid-area: time;
}
.course-materials {
  grid-area: materials;
}
.container-grid-course h2 {
  color: var(--colour-deep-pink);
  padding: 0.501rem 0 0.4rem;
  border-bottom: 0.1rem solid var(--colour-red-orange);
}
.container-grid-course p {
  margin-top: 1rem;
  padding-bottom: 0.75rem;
}
/*#endregion*/

/* Sign Up/In Form Flex */
/*#region*/
.container-form-user {
  display:flex;
  flex-direction: column;
  max-width: 448px;
  align-items: center;
  flex-wrap: wrap;
}
.container-form-user form {
  width: 100%;
}
.container-form-user input {
  box-sizing: border-box;
  display: block;
  color: var(--colour-purple);
  font-size: 1.1rem;
  border: 3px solid var(--colour-deep-pink);
  border-radius: 0.75rem;
  padding: 0.875rem;
  margin: 0.5rem 0 1.1rem;
  width: 100%;
}
.container-form-user a {
  border-bottom: 2px solid var(--colour-orange);
}
.container-form-user .container-buttons {
  justify-content: space-between;
}
.container-form-user .container-buttons button {
  margin-right: 0;
}
/*#endregion*/

/* Course Grid-Areas contents */
/*#region*/

.container-form-course input,
.container-form-course textarea {
  box-sizing: border-box;
  display: block;
  color: var(--colour-purple);
  font-size: 1.1rem;
  border: 3px solid var(--colour-deep-pink);
  border-radius: 0.75rem;
  padding: 0.875rem;
  margin: 0.5rem 0 1.1rem;
  width: 100%;
}
.container-form-course textarea {
  border-bottom-right-radius: 0;
  min-height: 10rem;
}
/*#endregion*/

/* Tool Tip */
.container-tooltip {
  position: relative;
}
.container-tooltip button {
  font-size: 1rem;
  padding: 0.1rem 0.1rem 0.1rem 0.16rem;
  margin-left: 0.5rem;
  background-color: var(--colour-red-orange);
  border-radius: 50%;
  width: 1.5rem;
}
.container-tooltip button:hover {
  background-color: var(--colour-purple);
}
.tooltip-bubble {
  background-color: var(--colour-light-yellow);
  padding: 0.35rem 0.25rem 0.15rem;
  overflow-x: visible;
  white-space: nowrap;
  position: absolute;
  bottom: -8px;
}

/* MEDIA QUERIES FOR LAYOUT*/
@media (min-width: 715px) {
  #root {
    grid-template-rows: 112px auto;
  }
  nav {
    flex-direction: row;
    justify-content: end;
  }
  .logo {
    margin-right: auto;
  }
  nav p {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
  }
  .container-buttons {
    flex-direction: row;
  }
  button:first-of-type {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
  button:last-of-type {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
}

@media (min-width: 878px) {
  .container-buttons {
    justify-content: space-between;
  }
  button {
    border-radius: 0.75rem;
  }
}

@media (min-width: 1150px) {
  main {
    max-width: 1400px;
  }
  .container-buttons {
    justify-content: flex-start;
  }
  button {
    margin-right: 1.5rem;
  }
  .container-grid-course {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "title title title time time"
      "description description description materials materials";
  }
}